.my-bg-danger{
    background-color: #b91450;
}
.btn{
    border-color: #939393;
    background-color: #cccccc;
    font-weight: bold;
    font-size: 20px;
    color: #b91450 ;
}
.btn:hover{
    border-color: #e29149;
    background-color: rgba(0, 0, 0, 0.267);
    color: #b91450 ;
}
label{
    color: #b91450 !important;
}
input, select{
    border-color: #b91450 !important;
    font-weight: bold !important;
}
input{
    text-align: center;
}
.card-body.border-start, .card-body.border-top, .card-body.border-bottom {
    border-color: black !important;
}
.my-bg-gray{
    background-color: #808080 !important ;
}